@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Kameron);
* {
	margin: 0;
	padding: 0;
	font-family: 'Kameron', serif;
	font-weight: normal;
	text-decoration: none;
	border: 0;
}
body {
	color: #333333;
	background: #FAFAFA;
}
header {
	padding: 30px;
	border-bottom: solid 1px #DEDEDE;
	clear: both;
}
div[role=main] {
	padding: 30px;
	background: #FFFFFF;
	border-top: solid 2px #EFEFEF;
	border-bottom: solid 1px #E6E6E6;
	overflow: hidden;
}
footer {
	clear: both;
	padding: 30px;
	color: #888888;
	border-top: solid 2px #F6F6F6;
	text-shadow: 1px 1px #FFFFFF;
}
h1 {
	background-image: url(img/savory.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 35px;
}