@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Kameron);
* {
	margin: 0;
	padding: 0;
	font-family: 'Kameron', serif;
	font-weight: normal;
	text-decoration: none;
	border: 0;
}
body {
	color: #333333;
	background: #FAFAFA;
}
header {
	padding: 30px;
	border-bottom: solid 1px #DEDEDE;
	clear: both;
}
div[role=main] {
	padding: 30px;
	background: #FFFFFF;
	border-top: solid 2px #EFEFEF;
	border-bottom: solid 1px #E6E6E6;
	overflow: hidden;
}
footer {
	clear: both;
	padding: 30px;
	color: #888888;
	border-top: solid 2px #F6F6F6;
	text-align: right;
}
h1 {
	background-image: url(img/savory.png);
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 35px;
}
h3 {
	margin-top: 30px;
}
	h3:first-child {
		margin-top: 0px;
	}
input, textarea {
	margin: 2px 0px;
	border: solid 2px #CCCCCC;
	padding: 2px 4px;
	font-size: large;
	width: 300px;
}
	input:hover, textarea:hover {
		border: solid 2px #b3e4c2;
	}
.delete_field {
	font-family: sans-serif;
	color: #CCCCCC;
	cursor: pointer;
}
	.delete_field:hover {
		color: #ff3333;
	}
#add_ingredient {
	margin: 10px 0px 0px 0px;
}
	#add_ingredient a {
		cursor: pointer;
	}
		#add_ingredient a:hover {
			color: #009933;
		}
#create_recipe {
	margin-top: 30px;
}
#create_recipe a {
	background: #009933;
	color: #FFFFFF;
	padding: 5px 15px;
	font-size: large;
	cursor: pointer;
}
	#create_recipe a:hover {
		background: #3ebc64;
	}
#recipe_form, #recipe {
	width: 500px;
	float: left;
}
#recipe {
	background: #FAFAFA;
	padding: 20px 25px 25px 25px;
}
	#recipe ul {
		list-style: inside;
	}
#recipe_title {
	text-align: center;
	border-bottom: solid 1px #FFFFFF;
	padding-bottom: 5px;
	margin-bottom: 15px;
}